<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CommonDao" >
	
	<update id="updatePhoto">
		update 
			<if test="table == 1">
				user
			</if>
			<if test="table == 2">
				manager
			</if>
			<if test="table == 3">
				meeting_room
			</if>
		set
			photo = #{photo}
		where 
			id = #{id}
	</update>
	
	<update id="updatePassword">
		update 
			<if test="tag == 1">
				user
			</if>
			<if test="tag == 2">
				manager
			</if>
		set
			password = #{password}
		where 
			id = #{id}
	</update>
	
	<select id="selectByPhone" resultType="int">
		select 
			count(*)
		from
			<if test="tag == 1">
				user
			</if>
			<if test="tag == 2">
				manager
			</if>
		where 
			phone = #{phone}
	</select>
	
	<select id="selectByEmail" resultType="int">
		select
			count(*)
		from
			<if test="tag == 1">
				user
			</if>
			<if test="tag == 2">
				manager
			</if>
		where
			email = #{email}
	</select>
	
	<select id="selectByName" resultType="int">
		select
			count(*)
		from 
			<if test="tag == 3">
				meeting_room where number = #{number}
			</if>
			<if test="tag == 4">
				department where name = #{number}
			</if>
			<if test="tag == 5">
				equipment where name = #{number}
			</if>
	</select>
		
	
</mapper>