<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.EquipmentDao">
	<insert id="insertEquipment" useGeneratedKeys="true" keyProperty="id">
		insert ignore into
			equipment
		values(default, #{name}, #{count})
	</insert>

	<delete id="deleteEquipment">
		delete from
			equipment
		where
			id = #{id}
	</delete>
	
	<delete id="deleteRelatedEquipment">
		delete from 
			related_equipment
		where 
			meeting_id = #{meetingId}
	</delete>

	<update id="updateEquipment">
		update
			equipment
		set
			<if test="need == 0">
				count = #{count}
			</if>
			
			<if test="need != 0">
				count = count + #{need}
			</if>
			
			<if test="name != null and name  != ''">
				, name = #{name}
			</if>
		where
			id = #{id}
	</update>
	
	<update id="useEquipment">
		update 
			equipment
		set
			count = count - #{need}
		where 
			id = #{id}
	</update>
	
	<insert id="insertRelated">
		insert into
			related_equipment
		values
			(default, #{equipmentId}, #{meetingId}, #{need})
	</insert>

	<select id="selectEquipmentById" resultType="Equipment">
		select
			id, name, count
		from
			equipment
		where
			id = #{id}
	</select>
	
	<select id="selectEquipmentByName" resultType="Equipment">
		select
			id, name, count
		from 
			equipment
		where
			name = #{name}
	</select>

	<select id="selectAll" resultType="Equipment">
		select
			id, name, count
		from
			equipment
	</select>

	<select id="selectAllByPage" resultType="Equipment">
		select
			id, name, count
		from
			equipment
		where 
			1 = 1
	</select>
	
	<select id="selectEquipmentByMeetingId" resultType="Equipment">
		select 
			equipment_id as id, related_equipment.count as need, name
		from 
			related_equipment 
		join
		 	equipment 
		 on
		 	related_equipment.equipment_id = equipment.id
		where 		
			meeting_id = #{id}
	</select>
</mapper>