<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.NoticeDao" >
	<insert id="insertNotice">
		insert into
			notice
		values
			(default, #{content}, 1)
	</insert>
	
	<update id="updateNotice">
		update
			notice
		set 
			is_show = 0
	</update>
	
	<select id="selectNotice" resultType="Notice">
		select
			id, content
		from 
			notice
		where 
			is_show = 1
	</select>
</mapper>